*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: "poppins", sans-serif;

}

body{
  background-color: #c9c;
  background: linear-gradient(to right, rgb(168, 91, 91), rgb(73, 73, 148))

}

.container{
  background: bisque;
  width: 450px;
  padding: 1.5rem;
  margin: 50px auto;
  border-radius:10px ;
  box-shadow: 0 20px 35px rgb(0, 0, 0, 0.9 );
}

form{
  margin: 15px;
}

.form-title{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1.3rem;
  margin-bottom:0.4rem ;

}

input{
  color: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}

.input-group{
  padding: 1% 0;
  position: relative;
}
.input-group i{
  position: absolute;
  color: black;
}
input:focus{
  background-color: transparent;
  outline: transparent;
  border-bottom: 2px pink;
}
input::placeholder{
  color: transparent;
}

label{
  color: #757575;
  position: relative;
  left: 1.2rem;
  top: 1.3rem;
  cursor: auto ;
  transition: 0.3 ease all;

}

input:focus~label,input:not{:placeholder-shown

}
